@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reduce the size of the scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  
  /* Style the track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Lighter background for the track */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scrollbar */
    border-radius: 10px; /* Round the edges of the thumb */
  }
  
  /* Style the scrollbar thumb when hovered */
  /* ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  } */
  